.Bianca-pic{
    border: none;
}

.Bianca-pic:hover{
    padding: 12px;
    border: 5px solid green;
}

.box {
    cursor: pointer;
  }

.display-talk{
    min-width: 450px;
    min-height: 250px;
  }

