@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background-color: rgb(6, 6, 80);
    display: flex;
    align-items: center;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}

.picture-side-container{
    color: white;
}