.icon-skills {
  font-size: 45px;
  text-align: center;
  margin-top: -80px;
  gap: 0;
}

.html-icon > .fa-brands {
  color: #e65100;
}

.css-icon > .fa-brands {
  color: #0277bd;
}

.sass-icon > .fa-brands {
  color: #f06292;
}

.bootstrap-icon {
  color: #673ab7;
}

.tailwind-icon > img,
.typescript-icon > img,
.git-icon > img,
.nest-icon > img {
  margin-left: 55px;
}

.motion-icon > img {
  border-radius: 5px;
}

.js-icon > .fa-brands {
  color: #f0e138;
}

.typescript-icon {
  margin-top: 28px;
}

.typescript-icon > p {
  padding: 20px 0;
}

.react-icon > .fa-brands {
  color: #39c1d7;
}

.git-icon > p {
  padding: 21px 0;
}

.node-icon > .fa-brands {
  color: #37d23a;
}
